.carta{

    padding-bottom: 2px;
    border: 1px solid rgba(0,0,0,.125); 
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.table-striped tbody tr:nth-of-type(odd){
    background-color:rgba(255,255,255,.05)}

.table-striped tbody tr:nth-of-type(odd){
        background-color:rgba(0,0,0,.05)}

.table-bordered{border:1px solid #dee2e6}

.table-bordered td,.table-bordered th{
    border:1px solid #dee2e6}
.table-bordered thead td,.table-bordered thead th{
        border-bottom-width:2px}
.table-bordered{border:0}

.body{
    font-size: 12px;
}

.table{
    width:100%;
    background-color:transparent}

.table td,.table th{
    vertical-align:top;
    border-top:1px solid #dee2e6}

.table thead th{
    vertical-align:bottom;
    border-bottom:2px solid #dee2e6}

.table tbody+tbody{border-top:2px solid #dee2e6}.table .table{background-color:#fff}