.carta{

    padding-bottom: 2px;
    border: 1px solid rgba(0,0,0,.125); 
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.tabla-striped  tr:nth-of-type(odd){
    background-color:rgba(255,255,255,.05)}

.tabla-striped  tr:nth-of-type(odd){
        background-color:rgba(0,0,0,.05)}

.table-bordered{border:1px solid #dee2e6}

.tabla-bordered td,.table-bordered th{
    border:1px solid #dee2e6}

.tabla-bordered thead td,.table-bordered thead th{
        border-bottom-width:2px}
.tabla-bordered{border:0}

.body{
    font-size: 12px;
}

.tabla{
    width:100%;
    margin-bottom:1rem;
    background-color:transparent}

.tabla td,.tabla th{
    padding:1.5rem;
    vertical-align:top;
    border-top:1px solid #dee2e6}

.tabla thead th{
    vertical-align:bottom;
    border-bottom:2px solid #dee2e6}

.tabla tbody+tbody{border-top:2px solid #dee2e6}.tabla .tabla{background-color:#fff}